version: "3.2"
services:
  web:
    build: .
    working_dir: /var/www/ak
    volumes:
      - .:/var/www/ak
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: "python manage.py runserver 0.0.0.0:8000"
    restart: always
  db:
    image: postgres
    environment:
      - "POSTGRES_PASSWORD=demopass"
      - "POSTGRES_USER=demouser"
      - "POSTGRES_DB=demodb"
    restart: always
