version: "3.2"
services:
  web:
    build: .
    working_dir: /var/www/ak
    volumes:
      - .:/var/www/ak
    ports:
      - "8000:8000"
    depends_on:
      - db
    command: "python manage.py runserver 0.0.0.0:8000"
    restart: always
  db:
    image: postgres
    environment:
      - "POSTGRES_PASSWORD=demopass"
      - "POSTGRES_USER=demouser"
      - "POSTGRES_DB=demodb"
    restart: always
  umami-db:
    image: postgres
    environment:
      - "POSTGRES_PASSWORD=umami"
      - "POSTGRES_USER=umami"
      - "POSTGRES_DB=umami"
    restart: always
  umami:
    image: ghcr.io/mikecao/umami:postgresql-latest
    ports:
      - "8001:3000"
    environment:
      DATABASE_URL: postgresql://umami:umami@umami-db:5432/umami
      DATABASE_TYPE: postgresql
      HASH_SALT: adslkjfhi2k83yrkufha7hlsa8y21
    depends_on:
      - umami-db
