{% extends "public/base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="about">About</li>
  </ol>
</nav>

<img class="img-fluid img-thumbnail ak-thumbnail float-left" src="{% static 'img/pic1.jpg' %}" />
<div class="row">
    <div class="col">
        <h2>About Anderson-Kelly</h2>
        <p>
            Anderson-Kelly Associates, Inc. (Anderson-Kelly) is among the world's leading providers of occupational
            health solutions for maritime operators. Located in Mount Olive, New Jersey, our services are available 24
            hours a day, 365 days a year, at virtually any domestic or international port of call.
        </p>

        <h5>Our Craft</h5>
        <p>
            We completely understand your business. We've been immersed in it for over 35 years. That's how
            Anderson-Kelly has come to offer the finest in medical management solutions for the maritime industry.
        </p>
        <p>
            Our goal is the same as yours: to help prevent the illness of and injury to your employees, to solve medical
            problems in a timely cost-effective way, and to help ensure the health and safety of your company.
        </p>
        <p>
            Keeping a ship's workforce healthy and productive is no easy task. But our long list of specialized services
            can make it a lot easier. We have the unique ability to create customized medical management programs that
            can offer your company cost-saving, problem-solving solutions and improve the health of your staff.
        </p>
        <p>
            In short, our craft is making your craft easier. Read on and get familiar with our wide range of services.
            But first, a little bit about us...
        </p>

        <h5>Our History</h5>
        <p>
            Anderson-Kelly is a New Jersey based small business founded in 1982 by Constance Anderson. In the last 35
            years, we have evolved our specialized services to include substance abuse screening and medical programs
            and related services for the maritime industry.
        </p>

        <h5>Our Philosophy on Being the Best</h5>
        <p>
            Health care challenges are critical issues faced by every company. However, when you consider the dangerous
            occupations and global operational platform unique to the maritime industry, the health care issues are
            extremely challenging. For this reason, our philosophy has remained unchanged: to focus on the unique
            circumstances of maritime medical management in order to provide the best health care services in the
            business.
        </p>
        <p>
            Our medical services have become specialized tools in the preservation and enrichment of your workforce -
            and an ideal way to lower your health care costs.
        </p>

        <h5>The Benefits of Working with a Company that Understands your Business</h5>
        <p>
            As we all know, injuries and illnesses at sea are extremely costly. By working with a company that knows
            your business inside and out, these costs can be substantially reduced.
        </p>
        <p>
            Our specialized services decrease the cost of medical care, job rehabilitation, impairment, and employee
            absences. Here are a few other benefits of working with us:
        </p>
        <ul>
            <li>We understand job qualifications and keep problems off the ship before they board.</li>
            <li>We have the resources to deal with injured crewman offshore.</li>
            <li>Our substance abuse screening helps you keep a clean and safe operation.</li>
            <li>We create customized medical solutions that prevent illness and injury.</li>
        </ul>
        <p>
            <a href="#">Click here</a> to read the latest news from Anderson-Kelly.
        </p>
        <p>
            Call 1-800-833-6676 or email us to learn how our maritime expertise can help your company.
        </p>
    </div>
</div>
{% endblock %}
