{% extends "public/base.html" %}
{% block title %}Advantage{% endblock %}

{% block content %}
<h2>The Anderson-Kelly Advantage</h2>
<p>
    The real advantage to working with us lies in the fact that we understand the human element. We believe it's really
    about an injured worker and a concerned family. It's about running your business with more confidence and less
    worry. It's about making sure your work environment is safe and productive.
</p>
<p>
    A strong human element is in all of us here at Anderson-Kelly. We're friendly, we're easy to work with, and we're
    passionate about what we do. Just ask anyone we've served. Time and again our clients have praised our ability to
    deal with problems in a professional, timely and compassionate manner.
</p>
<p>
    With Anderson-Kelly, you'll work with outstanding people, you'll get excellent service, and you'll lower your costs
    across the board. Call us at 973.446.2600. Let's talk more about how our medical management solutions can benefit
    your company.
</p>
<br>
<a href="/" class="btn btn-small btn-info">return</a>
{% endblock %}
