{% extends "public/services/base.html" %}
{% load static %}

{% block title %}Substance Abuse Programs {% endblock %}
{% block service_breadcrumbs %}
<li class="breadcrumb-item active">Substance Abuse Programs</li>
{% endblock %}

{% block service_content %}
<h3>Substance Abuse Programs</h3>
<p>Drug and alcohol testing is a critical aspect of any safety program. Maritime employers often need to have testing
    programs in place to meet regulatory obligations, charter party agreements or corporate polices.</p>

<p>Anderson-Kelly has screened tens of thousand of mariners for substance abuse on thousands of vessels worldwide. Here
    are the methods and organizations we use to help keep your operation clean and safe:</p>

<h5>Wherever You Are, We're There</h5>
<p>Our network of collectors is up to date on current standards and procedures and can perform collections wherever and
    whenever necessary.</p>

<ul>
    <li>
        We can arrange for collections in major port cities worldwide
    </li>
    <li>
        We can set up new locations as needed
    </li>
    <li>
        Our qualified, experienced collectors are familiar with the maritime industry
    </li>
    <li>
        We can arrange for testing services 24 hours a day, 365 days a year
    </li>
    <li>
        Testing is arranged to coincide with ship's schedule, to minimize interference with the vessels crew and
        responsibilities
    </li>
</ul>

<h5>Laboratory and MRO (Medical Review Officer) Services</h5>
<p>Depending on your company's needs, we can provide customized lab and MRO services. These services may be set up to
    include:</p>

<ul>
    <li>
        Consolidated Billing
    </li>
    <li>
        Referral to a specified lab or MRO
    </li>
    <li>
        Consortium services through our affiliates
    </li>
</ul>

<h5>Employee Training Programs</h5>
<p>We can train your staff on how to perform drug and alcohol collections in the case of serious marine incidents. Our
    seminars are given on site:</p>

<ul>
    <li>
        Review new guidelines and procedures
    </li>
    <li>
        Encourage open discussion
    </li>
    <li>
        For DOT employers, in conjunction with American Maritime Safety (AMS)
    </li>
    <li>
        Meet annual DOT drug and alcohol training requirements
    </li>
</ul>

<h5>Pre-Placement Drug and Alcohol Testing</h5>
<p>To prevent a substance abuser from boarding your ship, our drug and alcohol testing services can be set up as part of
    your company's pre-placement evaluations.</p>

<h5>Program Development and Consultation</h5>
<p>We can assist your company in the development and implementation of drug testing policies to satisfy corporate
requirements or regulatory obligations.</p>

<h5>Drug Testing Supplies</h5>
<p>We prepare and send a full set of testing supplies to the ship's captain. These drug testing "kits" can be customized to
meet your needs. They will include any or all of the following: specimen collection supplies, on-site testing devices,
instructions, customs and CDC clearance documents, and international airbills.</p>

<div class="alert alert-success"><em>Call 1-800-833-6676 or email us to learn how our maritime expertise can help your company.</em></div>
{% endblock %}
